<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(!username) { %>
    <form class="form-inline" method="post" action="/login">
      <div class="form-group mx-sm-3 mb-2">
        <label for="username" class="sr-only">Your username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Create username">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Sign up</button>
    </form>
    <% } else { %>
      <form class="form-inline" method="post" action="/logout">
        <div class="form-group mx-sm-3 mb-2">
          <h5 style="margin-top: 6px; color: #0013FF;">Your username is: <%= username %></h5>
        </div>
        <button type="submit" class="btn btn-danger mb-2">Log out</button>
      </form>
    <% } %>
  </nav>
</header>

